.list {
    margin-top: .1rem;

    li {
        padding: .05rem .1rem;

        a {
            display: flex;

            .left-item {
                margin-right: .2rem;

                img {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }

            .right-item {
                h4 {
                    font-weight: normal;
                    font-size: .14rem;
                    color: #333;
                    margin-bottom: .3rem;
                }

                p {
                    font-size: .12rem;
                    margin: .05rem;
                    color: #666;
                }

                span {
                    color: #888;
                    font-size: .096rem;
                }
            }
        }
    }
}